<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>모아모아</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <h1>MOMO</h1>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <div class="jumbotron">
            </hr>
            <h2 class="lead">맛집</p>
                </hr>
                </br>
        </div>
        <div th:replace="fragments/footer :: footer" />
    </div> <!-- /container -->
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <div class="jumbotron">
            <h2 class="lead">카페</p>
                </br>
        </div>
        <div th:replace="fragments/footer :: footer" />
    </div> <!-- /container -->

    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <div class="jumbotron">
            <h2 class="lead">미용실</p>
                </br>
        </div>
        <div th:replace="fragments/footer :: footer" />
    </div> <!-- /container -->

    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <div class="jumbotron">
            <h2 class="lead">약국</p>
                </br>
        </div>
        <div th:replace="fragments/footer :: footer" />
    </div> <!-- /container -->
</body>
<div id='wrapper'>
    <div>
        모두가 궁금한 것들을 한번에!
        </br>
        상암동에 있는 맛집, 카페, 미용실, 약국 추천하는 웹사이트
    </div>
</div>
<footer></footer>

</html>