<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>모아모아</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="index.css">
</head>

<body>
    
    <h1 class="h1-class">MOMO</h1>    

    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <div class="jumbotron">
            </hr>
            <p class="lead">맛집</p>
            </br>
        </div>
        <div th:replace="fragments/footer :: footer" />
    </div> <!-- /container -->
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <div class="jumbotron">
            <p class="lead">카페</p>
            </br>
        </div>
        <div th:replace="fragments/footer :: footer" />
    </div> <!-- /container -->

    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <div class="jumbotron">
            <p class="lead">미용실</p>
            </br>
        </div>
        <div th:replace="fragments/footer :: footer" />
    </div> <!-- /container -->

    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <div class="jumbotron">
            <p class="lead">약국</p>
            </br>
        </div>
        <div th:replace="fragments/footer :: footer" />
    </div> <!-- /container -->
</body>

</html>