body {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

/* header */
header {
    font-family: 'Single Day', cursive;
    font-weight: bolder;
    width: 60%;
    margin: 0 auto;
    /*position: fixed;*/
    /*top: 0;*/
    display: inline-flex;
    justify-content: center;
    background-color: rgb(255, 97, 150);
}

#header_title {
    font-size: 10vh;
    padding-top: 2%;
    text-align: center;
    margin-right: -30px;
}

#header_bear_img {
    margin-top: 1%;
}

/* main */

main {
    font-family: 'Single Day', cursive;
    font-weight: bolder;
    width: 60%;
    margin: 0 auto;
}

/* slot machine */

#coin_slot_machine_title_container {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    background-color: aquamarine;
}

#coin_slot_machine_title{
    width: 100%;
    text-align: center;
    font-size: 5vh;
}

#coin_slot_machine_title_content{
    width: 100%;
    text-align: center;
}

#coin_slot_machine_container {
    width: 100%;
    height: 80vh;
    display: inline-flex;
    justify-content: center;
    background-color: beige;
}

#coin_slot_machine_outerbox {
    width: 80%;
    height: 80%;
    margin: auto 0;
    background-color: saddlebrown;
    display: inline-flex;
    justify-content: space-around;
}

.coin_slot_machine_innerbox {
    background-color: aliceblue;
    width: 30%;
    height: 25%;
    margin: auto 0;
    padding-top: 10%;
    font-size: 4.5vh;
    text-align: center;

}

/* coin_slot_machine_buttin */

#coin_slot_machine_button {
background-color: red;
width: 10%;
height: 80%;
margin: auto 0;
display: inline-flex;
justify-content: center;
}
#coin_slot_machine_button_content {
width: 55%;
height: 7.5%;
margin: auto 0;
}

/* coin list */

#coin_list_title {
    font-size: 5vh;
    text-align: center;
    background-color: blueviolet;
}

#coin_list_container {
    width: 100%;
    height: 60vh;
    padding: 5% 0;
    display: inline-flex;
    justify-content: space-around;
    background-color: wheat;
}

.coin_list_card {
    text-align: center;
    width: 30%;
    background-color: aquamarine;
    display: inline-flexbox;
    justify-content: center;
}

.coin_table_title {
    font-size: 3vh;
    height: 10%;
    background-color: green;
    padding: 2% 0;
}

.coin_list_table {
    width: 100%;
    height: 80%;
    background-color: black
}

/* coin list의 table - th, td 적용 */

table {
    border-collapse: collapse;
}

th {
    font-size: 2.5vh;
    background-color: aqua;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
}

th:last-child {
    border-right: none;
}

tr {
    border-bottom: 1px solid red;
}

tr:last-child{
    border-bottom: none;
}

td {
    
    font-size: 2vh;
    background-color: cornsilk;
    border-right: 1px solid red;
}

td:last-child{
    border-right: none;

}
/* footer */

footer {
    font-family: 'Single Day', cursive;
    display: inline-flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    /*position: fixed;*/
    /*bottom: 0;*/
}

#footer_title {
    border-right: 5px black solid;
    font-size: 4vh;
    width: 20%;
    padding-top: 2%;
    text-align: center;
    background-color: aqua;
}

#footer_content {
    padding: 2vh;
    padding-left: 3vh;
    text-align: left;
    font-size: 2.5vh;
    width: 80%;
    background-color: aqua;
}