<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Root Web Application 경로 및 설정 지정 - start -->
	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->
	<!-- 루트 스프링 컨테이너(Root WebApplicationContext)가 정의된 파일, 모든 서블릿, 필터들에 의해 공유됨 -->
	<context-param><!-- context-param: 모든 서블릿에서 공유되는 파라미터 값  -->
		<param-name>contextConfigLocation</param-name>
		<!-- 루트 스프링 컨테이너와 관련된 환경 구성 정보가 위치한 설정 파일 경로 -->
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<!-- 루트 스프링 컨테이너 생성, ContextLoaderListener 클래스를 통해 root-context를 불러옴  -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Root Web Application 경로 및 설정 지정 - end -->
	

	<!-- DispatcherServlet 경로 및 설정 지정 - start -->
	<!-- Processes application requests -->
	<!-- Applicaiton으로 들어오는 모든 요청을 앞단에서 먼저 처리, 프론트 컨트롤러인 DispatcherServlet이 담당 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param><!-- init-param: 특정 서블릿에서만 공유되는 파라미터 값 -->
			<param-name>contextConfigLocation</param-name>
			
			<!-- DispatcherServlet과 관련된 환경 구성 정보가 위치한 설정 파일 경로 -->
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<!-- localhost:8080/{context root}'/'로 시작되는 경로로 요청 시 DispatcherServlet이 동작 -->
		<!-- DispatcherServlet의 service()가 호출됨 -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- DispatcherServlet 경로 및 설정 지정 - end -->
	

	<!-- UTF-8 인코딩 필터 적용 - start -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- UTF-8 인코딩 필터 적용 - end -->

</web-app>
