<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>step01overview</display-name>
  
  <!-- 사용자가 root 경로로 요청을 통해 접속했을 때 보여줄 파일 순서-->
  <welcome-file-list>
  <!-- localhost:8080/step01overview/로 요청했을 때 -->
  <!-- index.html을 먼저 찾게 되고, 그 파일이 없으면 아래의 다른 파일들을 찾음 -->
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>